html,
body {
   margin:0;
   padding:0;
   height:100%;
}
.container {
   min-height:100%;
   position:relative;
}

body {
   padding:10px;
   padding-bottom:60px; 
   background:url('../images/concrete2.png');
}
footer {
        background: #666;
        color: #fff;
        padding: 30px 0;
        clear: both;
        border-top: 8px solid #4aaaa5;
        color: #ccc;
        font-size: 12px;
        text-align: center;
    
    }
  
